{% extends 'main-page.html' %}

{% block title %} - Обратная связь{% endblock %}

{% block search %}
    <center>
        <form class="form-inline" action="{% url 'search_results' %}" method="get">
            <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
        </form>
    </center>
{% endblock %}

{% block content %}
    <style>
        .content {
            padding: 15px;
        }
    </style>
    <div class="art_content">
        <div class="card mb-5 px-0 mx-0">
            <div class="card-header p-0 mx-0">
                <div class="panel panel-success content">
                    <div class="panel-heading">
                        <h2 class="panel-title">Обратная связь</h2>
                    </div>
                    <div class="panel-body">
                        <div class="well well-lg">
                            <h3></h3>
                            <form action="{% url 'contact' %}" method="post">
                                {% csrf_token %}
                                {#    {% bootstrap_form form %}#}
                                {{ form.non_field_errors }}
                                <div>
                                    <label for="id_subject">Тема:</label>
                                    {{ form.subject.errors }}
                                    {#	  {{ form.subject }}#}
                                    <input class="form-control" id="id_subject" name="subject" placeholder="Тема">
                                </div>
                                &nbsp;
                                <div>
                                    <label for="id_sender">E-mail:</label>
                                    {{ form.sender.errors }}
                                    {#	  {{ form.sender }}#}
                                    <input class="form-control" id="id_sender" name="sender" placeholder="Ваш e-mail">
                                </div>
                                &nbsp;
                                <div>
                                    <label for="id_message">Сообщение:</label>
                                    {{ form.message.errors }}
                                    {#	  {{ form.message }}#}
                                    <textarea class="form-control" id="id_message" name="message"
                                              placeholder="Введите ваше сообщение"></textarea>
                                </div>
                                &nbsp;
                                <div>
                                    {{ form.copy.errors }}
                                    <label for="id_copy">{{ form.copy }} Отправить копию себе </label>
                                </div>
                                <br>
                                <input type="submit" class="btn btn-success" value="Отправить сообщение"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}